.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width: 930px){
  header ul{
    display: none;
  }

  header{
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 700px){
  .imagen__banner{
    display: none;
  }
  .imagen__banner-mobile{
    display: flex;
    margin-top: 150px;
    top: 100px;
    left: 910px;
    width: 100%;
    height: 100%;
    /* UI Properties */
    opacity: 1;
  }

  .imagen__footer{
    display: none;
  }
  .imagen__footer-mobile{
    display: inline;
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
